@use "../../../styles/utils/variables.scss";

$animation-transition: 100ms;

.InputBox {
  display: flex;
  align-items: center;
  background-color: #272729;
  width: 100%;
  padding: 0 variables.$fieldPadding;
  margin-bottom: variables.$fieldPadding * 1.2;
  border-radius: variables.$fieldBorderRadius;
  position: relative;
  outline: 1px solid transparent;

  &.placeholderHidden {
    background-color: transparent;
    outline-color: variables.$secondary;
    & .label {
      color: variables.$secondary;
    }
  }

  &.error {
    outline-color: variables.$error;
    .label {
      color: variables.$error;
    }
  }

  &:hover:not(&.error) {
    outline-color: variables.$primary;
    transition: $animation-transition;
    & .label {
      color: variables.$primary;
    }
  }

  &:focus-within {
    background-color: transparent;
    outline-color: variables.$primary;
    outline-width: 2px;
    & .label {
      color: variables.$primary;
    }
  }

  &.error:focus-within {
    outline-color: variables.$error;
    & .label {
      color: variables.$error;
    }
  }

  & input,
  & textarea {
    color: #fff;
    background-color: inherit;
    width: 100%;
    font-size: 1em;
    padding: variables.$fieldPadding 0;
  }

  & textarea {
    height: 84px;
  }

  & .label {
    background-color: transparent;
    transition: $animation-transition;
    top: variables.$fieldPadding;
    position: absolute;
    color: variables.$secondary;
    display: block;
  }

  & input:focus + .label,
  & textarea:focus + .label,
  &.placeholderHidden .label {
    transform: translate(-5px, -(variables.$fieldPadding + 10));
    transition: $animation-transition;
    background-color: #1a1a1c;
    font-size: 0.8em;
    padding: 0 calc(variables.$fieldPadding / 4);
  }
}

.EyeIcon {
  padding-top: variables.$fieldPadding / 4;
  padding-left: 12px;
  cursor: pointer;
}
